# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
node_modules_broken*/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.tmp-expo-cli/
.tmp-extract-expo-cli.js
expo-cli-*.tgz

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Firebase
google-services.json
GoogleService-Info.plist

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
